.my-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    border: 1px outset white;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    margin: 20px;
    animation: scale 1s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}